body
{margin: 50px 300px;
font-size: larger;
text-align: center;
font-family: cursive;
width: 700px;
background: linear-gradient(rgb(200, 248, 242),white);}

.h1
{background-color: rgb(50, 240, 247);
border-style: groove;
border-color: black;
border-radius: 5px;
font-size: 70px;
}

.exemplo
{text-align: left;
font-size: medium;
margin: 200px,0,200px,0;}

.lista1
{text-align: left;
}

.visualg
{height: 500px;
width: 700px;}



ul,ol
{
    text-align: left;
}

a
{text-decoration: none;
background-color: rgb(43, 255, 0);
color: black;
padding: 10px;
margin:10px; 
border-color: rgb(43, 255, 0);
border-style: hidden;
border-radius: 5px;
display: inline-block;}
a:hover{padding: 15px;}