#imagem
{background-image: url(../galeria/marginpadding.png);
width: 230px;
height: 215px;
margin-left: 230px;}
body
{margin: 50px 300px;
font-size: larger;
text-align: center;
font-family: cursive;
width: 700px;
background: linear-gradient(rgb(200, 248, 242),white);}

h1
{background-color: yellow;
border-style: groove;
border-color: black;
border-radius: 5px;
font-size: 70px;
}
a
{text-decoration: none;
background-color: rgb(43, 255, 0);
color: black;
padding: 10px;
margin:50px; 
border-color: rgb(43, 255, 0);
border-style: hidden;
border-radius: 5px;}
a:hover{padding: 15px;}