body
{padding: 0;
margin: 0;}

header
{background: linear-gradient(rgb(200 , 248 , 242), white);
padding: 200px;
}
h1
{font-size: 60px;
text-align: center ;
margin-top: -100px;
}

.Links
{text-align: center;
margin-top: -100px;}
a
{margin: 50px;
text-decoration: none;
margin: 10 px;
padding: 10px;
background-color: rgba(7, 126, 112, 0.904);
color: black;
border-radius: 5px;
font-size: xx-large;
}

