/*p{
    color: aliceblue;
    background-color: black;
}
#testecss{
    color: brown;
    background-color: chartreuse;
}
.testecss2{
    color: chartreuse;
    background-color: black;
}
#testecss4{
    color: black;
    background-color: rgb(26, 23, 221);
    height: 900;
    width: 900;
}
.testecss5{
    background-color: black;
}
body{
    background-image: url("./raposa\ no\ estilo.jpg");
    
    
}*/
body
{margin: 50px 300px;
font-size: larger;
text-align: center;
font-family: cursive;
width: 700px;}
