body
{background: linear-gradient(rgb(200, 248, 242),white,rgb(200, 243, 243));
font-size: larger;
text-align: center;
font-family: cursive;
margin:50px 300px  ;
width: 700px;
}
#imagem
{background-image: url(../galeria/imagem\ unidade\ de\ medida.png);
width: 700px;
height: 200px;
background-size:contain ;
background-position: center;
background-repeat: no-repeat;}
#imagem2
{background-image: url(../galeria/unidades\ de\ medida\ relativa.png);
background-color: white(248, 248, 248);
width: 700px;
height: 200px;
background-position: center;
background-size: contain;
background-repeat: no-repeat;}
#imagem3
{background-image: url(../galeria/imagem\ html.jpg);
width: 23vw;
height: 30vh;
margin-left: 200px;
}
h1
{background-color:aqua;
font-size: 60px;
border-style:groove;
border-color:black;
border-width: 2px;
border-radius: 10px; }
a
{text-decoration: none;
background-color: rgb(43, 255, 0);
color: black;
padding: 10px;
margin:50px; 
border-color: rgb(43, 255, 0);
border-style: hidden;
border-radius: 5px;}
a:hover{padding: 15px;}

